/* Seção para barra de navegação lateral */

ul {
    margin: 5% 1%;
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#link-menu:hover, main a:focus {
    color: red;
}

/* Seção de títulos */

h1 {
    text-align: center;
    position: relative;
    top: 2em;
}

/* Seção de Botões */

.botao {
    position: relative;
    top: -105px;
    left: 320px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao:hover, .botao:focus {
    color: red;
}

#excluir {
    left: 380px;
}

#cadastrar {
    left: 380px;
}

#alterar {
    left: 380px;
}

#visualizar {
    left: 380px;
}

#cancelar {
    left: 430px;
}

#cod-vendedor {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 25em;
}

#input-cod {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 23em;
}

#nome-vendedor {
    position: relative;
    text-align: left;
    left: 17em;
    bottom: 25em;
}

#input-nome {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 23em;
}

#endereco-vendedor {
    position: relative;
    text-align: left;
    left: 15em;
    bottom: 25em;
}

#input-endereco {
    position: relative;
    text-align: left;
    left: 6em;
    bottom: 23em;
}

#bairro-vendedor {
    position: relative;
    text-align: left;
    left: 12em;
    bottom: 25em;
}

#input-bairro {
    position: relative;
    text-align: left;
    left: 4em;
    bottom: 23em;
}

#cidade-vendedor {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 25em;
}

#input-cidade {
    position: relative;
    text-align: left;
    left: 2em;
    bottom: 23em;
}

#estado-vendedor {
    position: relative;
    text-align: left;
    left: 22em;
    bottom: 20em;
}

#input-estado {
    position: relative;
    text-align: left;
    left: 14em;
    bottom: 18em;
}

#cep-vendedor {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 20em;
}

#input-cep {
    position: relative;
    text-align: left;
    left: 14em;
    bottom: 18em;
}

#cpf-vendedor {
    position: relative;
    text-align: left;
    left: 21em;
    bottom: 20em;
}

#input-cpf {
    position: relative;
    text-align: left;
    left: 14em;
    bottom: 18em;
}

#rg-vendedor {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 20em;
}

#input-rg {
    position: relative;
    text-align: left;
    left: 14em;
    bottom: 18em;
}

#fone-vendedor {
    position: relative;
    text-align: left;
    left: 23em;
    bottom: 20em;
}

#input-fone {
    position: relative;
    text-align: left;
    left: 14em;
    bottom: 18em;
}

#email-vendedor {
    position: relative;
    text-align: left;
    left: -50em;
    bottom: 12em;
}

#input-email {
    position: relative;
    text-align: left;
    left: 18em;
    bottom: 12em;
}

#datanasc-vendedor {
    position: relative;
    text-align: left;
    left: 22em;
    bottom: 15em;
}

#input-datanasc {
    position: relative;
    text-align: left;
    left: 11em;
    bottom: 12em;
}

#datacad-vendedor {
    position: relative;
    text-align: left;
    left: 15em;
    bottom: 15em;
}

#input-datacad {
    position: relative;
    text-align: left;
    left: 5em;
    bottom: 12em;
}

#comissao-vendedor {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 15em;
}

#input-comissao {
    position: relative;
    text-align: left;
    left: 0em;
    bottom: 12em;
}