/* Seção para barra de navegação lateral */

ul {
    margin: 5% 1%;
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#link-menu:hover, main a:focus {
    color: red;
}

/* Seção de títulos */

h1 {
    text-align: center;
    position: relative;
    top: 1em;
}

/* Seção de Botões */

.botao {
    position: relative;
    top: -120px;
    left: 320px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao:hover, .botao:focus {
    color: red;
}

#excluir {
    left: 380px;
}

#cadastrar {
    left: 380px;
}

#alterar {
    left: 380px;
}

#visualizar {
    left: 380px;
}

#cancelar {
    left: 430px;
}

#cod-produto {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 25em;
}

#input-cod {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 23em;
}

#desc-produto {
    position: relative;
    text-align: left;
    left: 15em;
    bottom: 25em;
}

#input-desc {
    position: relative;
    text-align: left;
    left: 6em;
    bottom: 23em;
}

#coduni-produto {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 25em;
}

#input-coduni {
    position: relative;
    text-align: left;
    left: 1em;
    bottom: 23em;
}

#codtipo-produto {
    position: relative;
    text-align: left;
    left: 7em;
    bottom: 25em;
}

#input-codtipo {
    position: relative;
    text-align: left;
    left: -1em;
    bottom: 23em;
}

#precocusto-produto {
    position: relative;
    text-align: left;
    left: -53em;
    bottom: 18em;
}

#input-precocusto {
    position: relative;
    text-align: left;
    left: 18em;
    bottom: 18em;
}

#precovenda-produto {
    position: relative;
    text-align: left;
    left: 23em;
    bottom: 20em;
}

#input-precovenda {
    position: relative;
    text-align: left;
    left: 13em;
    bottom: 18em;
}

#qntd-produto {
    position: relative;
    text-align: left;
    left: 18em;
    bottom: 20em;
}

#input-qntd {
    position: relative;
    text-align: left;
    left: 9em;
    bottom: 18em;
}
