body {
    background-image: url('/home/guilherme/Documentos/FATEC/Laboratório de Eng de Software/PROJETO_CAD_PRO/imagens/logo-index-sem-fundo.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
}

/* Seção para rodapés  */

footer {
    background-color: #000;
    color: #FFF;
    padding: 0.3em;
    bottom: 0;
    position: absolute;
    min-width: 100%;
}

/* Seção para barra de navegação lateral */

ul {
    margin: 5% 1%;
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#link-menu:hover, main a:focus {
    color: red;
}