body {
    background: none;
}

/* Seção para rodapés  */

footer {
    background-color: #000;
    color: #FFF;
    padding: 0.3em;
    bottom: 0;
    position: absolute;
    min-width: 100%;
}

/* Seção de login */

section {
    text-align: center;
    position: relative;
    top: 0.02em;
}

input {
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 20%;
}