#nav {
    margin: 5% 1%;
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#link-menu:hover, main a:focus {
    color: red;
}

/* Seção de títulos */

h1 {
    text-align: center;
    margin-top: 5%;
}

/* Seção de tabela */

table {
    position: relative;
    text-align: center;
    margin: 1%;
    box-sizing: border-box;
    border-collapse: collapse;
}

thead {
    background-color: rgba(71, 68, 68, 0.973);
    text-align: center;
    color: #FFF;
}

table th {
    border: 1px solid #CCC;
    padding: 10px;
}

table tr {
    border: 1px solid #CCC;
    width: 180px;
    height: 40px;
    padding: 10px;
}

table td {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #CCC;
}

/* Seção de Botões */

.botao {
    position: relative;
    height: 40px;
    top: 200px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 1%;
}

.botao:hover, .botao:focus {
    color: red;
}

#section-botoes {
    position: relative;
    text-align: center;
}

#section-cadastrar-vendedor {
    position: absolute;
    top: 25%;
    left: 20%;
    text-align: left;
    margin: 1%;
}

div {
    margin: 25px;
    display: inline-block;
}