/* Seção para barra de navegação lateral */

ul {
    margin: 5% 1%;
    padding: 0.5% 2%;
    list-style: none;
    width: 18%;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#link-menu:hover, main a:focus {
    color: red;
}

/* Seção de títulos */

h1 {
    text-align: center;
    position: relative;
    top: 1em;
}

/* Seção de tabela */

table {
    position: relative;
    text-align: center;
    left: 20em;
    bottom: 25em;
    box-sizing: border-box;
    border-collapse: collapse;
}

thead {
    background-color: rgba(71, 68, 68, 0.973);
    text-align: center;
    color: #FFF;
}

table th {
    border: 1px solid #CCC;
    padding: 10px;
}

table tr {
    border: 1px solid #CCC;
    width: 180px;
    height: 40px;
    padding: 10px;
}

table td {
    width: 180px;
    height: 40px;
    padding: 10px;
    border: 1px solid #CCC;
}

#tabela-vendas {
    position: relative;
    text-align: center;
    left: 20em;
    bottom: 25em;
    box-sizing: border-box;
    border-collapse: collapse;
}

#thead-vendas {
    background-color: rgba(71, 68, 68, 0.973);
    text-align: center;
    color: #FFF;
}

#thead-vendas th {
    border: 1px solid #CCC;
    padding: 10px;
}

#thead tr {
    border: 1px solid #CCC;
    width: 180px;
    height: 40px;
    padding: 10px;
}

#thead td {
    width: 180px;
    height: 40px;
    padding: 10px;
    border: 1px solid #CCC;
}

/* Seção de Botões */

.botao {
    position: relative;
    top: -125px;
    left: 320px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao:hover, .botao:focus {
    color: red;
}

.botao-venda {
    position: relative;
    top: 20px;
    left: 320px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao-venda:hover, .botao-venda:focus {
    color: red;
}

#cadastrar {
    left: 330px;
}

#efetuar-venda {
    left: 330px;
}

#alterar {
    left: 380px;
}

#finalizar {
    left: 380px;
}

#finalizar-venda {
    left: 330px;
}

#excluir-venda {
    left: 330px;
}

#alterar-venda {
    left: 330px;
}

#excluir {
    left: 430px;
}

#cancelar {
    left: 430px;
}

#cancelar-venda {
    left: 380px;
}

#gerar {
    left: 330px;
    top: -100px;
}

#nome-vendedor {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 23em;
}

#input-nome {
    position: relative;
    text-align: left;
    left: 10em;
    bottom: 20em;
}

#data-venda {
    position: relative;
    text-align: left;
    left: 17em;
    bottom: 25em;
}

#data-relatorio {
    position: relative;
    text-align: left;
    left: 40em;
    bottom: 25em;
}

#input-data {
    position: relative;
    text-align: left;
    left: 33em;
    bottom: 22em;
}

#combo-vendedor {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 20em;
}

#labelnum-venda {
    position: relative;
    text-align: left;
    left: 20em;
    bottom: 23em;
}

#num-venda {
    position: relative;
    text-align: left;
    left: 20em;
    width: 40px;
    bottom: 23em;
}

#labelvendedor-venda {
    position: relative;
    text-align: left;
    left: 22em;
    bottom: 23em;
}

#vendedor-venda {
    position: relative;
    text-align: left;
    left: 22em;
    width: 40px;
    bottom: 23em;
}

#parcvendedor-venda {
    position: relative;
    text-align: left;
    left: 24em;
    bottom: 23em;
}

#parc-vendedor {
    position: relative;
    text-align: left;
    left: 25em;
    bottom: 23em;
}

#cod-item {
    position: relative;
    text-align: left;
    left: -16em;
    bottom: 17em;
}

#item-venda {
    position: relative;
    text-align: left;
    left: -16em;
    width: 40px;
    bottom: 17em;
}

#qntd-item {
    position: relative;
    text-align: left;
    left: -11em;
    bottom: 17em;
}

#qntd-venda {
    position: relative;
    text-align: left;
    left: -11em;
    width: 40px;
    bottom: 17em;
}

.botao-add {
    position: relative;
    bottom: 17em;
    left: -5em;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.botao-add:hover, .botao-add:focus {
    color: red;
}

table {
    position: relative;
    bottom: 13em;
    left: 25em;
}

#total-item {
    position: relative;
    text-align: left;
    left: 55em;
    bottom: 17em;
}

#total-venda {
    position: relative;
    text-align: left;
    left: 55em;
    width: 100px;
    bottom: 17em;
}